@mod<h4>Lista</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Lista.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Lista.Nombre)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nombre)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Descripcion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Descripcion)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Completada)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Completada)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.FechaCreacion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FechaCreacion)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.FechaLimite)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FechaLimite)
    </dd>

</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLista }) |
    @Html.ActionLink("Back to List", "Index")
</p>
