@model IEnumerable<Practica2Grupo5.Models.Tarea>

@{
    ViewBag.Title = "DetailsLista";
}

<h2>DetailsLista</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lista.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaLimite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lista.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaLimite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTarea }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTarea }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTarea })
        </td>
    </tr>
}

</table>
